/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Font Settings */
img {
    max-width: 50%;
    height: auto%;
    display: block;
    margin: 0 auto;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

/* Header Section */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #660000; /* Arsenal Red color on hover */
}

/* Hero Section */
#hero {
    background: #660000;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

#hero h1 {
    font-size: 3em;
}

#hero p {
    font-size: 1.2em;
}

/* About Section */
#about {
    padding: 50px 20px;
    background: #fff;
    text-align: center;
}

#about h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

/* Projects Section */
#projects {
    padding: 50px 20px;
    background: #f9f9f9;
    text-align: center;
}

#projects h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.project-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.project-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-item p {
    font-size: 1em;
    color: #666;
}

/* Contact Section */
#contact {
    padding: 50px 20px;
    background: #fff;
    text-align: center;
}

#contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1em;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
    height: 150px;
}

form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer ul li a:hover {
    color: #4CAF50; /* Green color on hover */
}
